
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');

.font--w100 {
    font-weight: 100;
}
.font--w200 {
    font-weight: 200;
}
.font--w300 {
    font-weight: 300;
}
.font--w400 {
    font-weight: 400;
}
.font--w600 {
    font-weight: 600;
}