
// FONT
$primary-font: 'Poppins', sans-serif;

// COLOURS
$body-background: #f0f8ff;
$box-colour: #292F36;
$input-boxes: #f6faff;
$form-background: #576675;
$link-colour: #5ac18e;
$link-hover-colour: #ace0c6;
$button-bg-border-colour: #5ac18e;